@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: pulseBackground 20s infinite ease-in-out;
}

@keyframes pulseBackground {
    0%, 100% { filter: brightness(100%); }
    50% { filter: brightness(150%); }
}

.envelope {
    position: absolute;
    width: 400px;
    height: 300px;
    cursor: pointer;
    background: url('BG.jpg') no-repeat center/cover;
    border-radius: 10px;
    border: 3px solid rgba(255, 223, 0, 0.6);
    opacity: 0.18;
}

.envelope:hover {
    box-shadow: 0 0 30px 10px rgba(173, 216, 230, 0.8); 
    opacity: 0.8;/* Hover effect for all with specific color for middle */
}

.animation1, .animation3 {
    transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.animation1:hover {
    box-shadow: 0 0 30px 10px rgba(204, 9, 71, 0.8); /* Pink */
}

.animation3:hover {
    box-shadow: 0 0 30px 10px rgba(180, 43, 132, 0.8); /* Light Red */
}

.animation2 {
    top: 30%;
    left: 30%;
}

.animation1 {
    top: 05%;
    left: 05%;
}

.animation3 {
    bottom: 20%;
    right: 18%;
}

.flap {
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    transform-origin: top;
    transition: transform 1.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.open .flap {
    transform: rotateX(-180deg);
}

.body {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    background: linear-gradient(to bottom right, lightblue, lightpink);
}

.letter {
    position:absolute;
    bottom: 0;
    width: 90%;
    height: 90%;
    margin: 5%;
    background-color: #fafafa;
    font-family: 'Sedan', serif;
    font-size: 18px;
    padding: 20px;
    text-align: justify;
    transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
    transform: translateY(20px) scale(0.8);
    opacity: 0;
}

.fullSize {
    transform: translateY(0) scale(1);
    opacity: 1;
}

.emoji {
    position: absolute;
    font-size: 24px;
    animation: popIn 5s infinite;
    opacity: 0;
}

@keyframes popIn {
    0%, 100% { transform: scale(0); opacity: 0; }
    50% { transform: scale(1.5); opacity: 1; }
}
